/* Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  height: 100vh;
  transition: 0.5s;
}
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  /* background: #000000; */
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

p {
  font-size: 16px;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.logo img {
  width: 150px;
  height: 70px;
}

.flex {
  display: flex;
}

/* Dark mode*/

body.white {
  background: white;
  transition: 0.5s;
}


body.white header {
  background-color: #3185a5;
}
body.white .btn-contato a {
  background-color: #fff;
  color: #3185a5;
}
body.white header nav a {
  color: #333;
}

body.white .label {
  background-color: #fff;
}
body.white .label .ball {
  background-color: #3185a5;
}
body.white .fa-solid {
  color: #3185a5; /* Cor dos ícones no modo claro */
}

/* Alterando a cor do texto e ícones em elementos específicos (opcional) */
body.white h1,
body.white h2,
body.white h3,
body.white h4,
body.white h5,
body.white h6 {
  color: #333; /* Cor dos títulos no modo claro */
}
body.white p {
  color: #333;
}
body.white .fa-solid {
  color: #333;
  font-size: 20px;
}

body.white .btn-social a {
  color: white;
}
body.white .btn-social-link:hover {
  background-color: #333;
}
body.white .topo-do-site .img-topo-site img {
  box-shadow: 0 0 8px #333;
}

body.white .img-sobre img {
  box-shadow: 0 0 8px #333;
}

body.white #inicio {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
body.white #especialidades{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
body.white #sobre {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
body.white #projetos {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
body.white #educacao {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

body.white .btn-abrir-menu i {
  color: #fff;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background-color: #3185a5;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  height: 35px;
  width: 70px;
  transform: scale(1.1);
}

.label .ball {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  transform: translateX(0px);
  transition: 0.3s;
}
.checkbox:checked + .label .ball {
  transform: translateX(36px);
}

.fa-solid {
  color: #333;
  font-size: 20px;
}

.btn-contato a {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #3185a5;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  color: #000000;
}
.home-content p {
  margin-bottom: 10px;
}
h2.title {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

h2.title span {
  color: #3185a5;
}

.btn-contato a:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #3185a5;
  transform: scale(1.1);
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #3185a5;
  transform: scale(1.1);
}

/* estilo do cabeçalho */
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #3185a5;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.1);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

.logo img {
  width: 100%;
}

/* Estilo do menu mobile */
/* para nao abir no pc */
.btn-abrir-menu {
  display: none;
}

.btn-abrir-menu i {
  color: #3185a5;
  font-size: 40px;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 60%;
  /* margin-right: 50px; */
  padding-right: 50px;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile .btn-fechar {
  padding: 20px 6%;
}

.menu-mobile .btn-fechar i {
  color: #3185a5;
  font-size: 60px;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.overlay-menu {
  background-color: #00000069;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

.img-port .overlay {
  text-decoration: underline;
}

.menu-mobile nav ul li a:hover {
  background-color: #3185a5;
  color: #000;
}

/* CABEÇALHO */

/* estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 48px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #3185a5;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #3185a5;
  box-shadow: 0 0 8px #ffffff8e;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.typing-text {
  color: white;
  padding-bottom: 5px;
}
.typing-text span {
  color: #3185a5;
  padding-top: 5px;
  position: relative;
}
.typing-text span::before {
  content: "Software Engineer";
  color: #3185a5;
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #3185a5;
  right: -10px;
  animation: cursor 0.8s infinite, write 20s steps(14) infinite;
  width: calc(100% + 10px);
  background-color: #000000;
}

body.white .typing-text span::after {
  background-color: white;
}

@keyframes write {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}

@keyframes cursor {
  0% {
    border-left: 2px solid #000000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Designer Web";
  }
  21%,
  40% {
    content: "Software Engineer";
  }
  41%,
  60% {
    content: "Front-end";
  }
  61%,
  80% {
    content: "Fotográfo por hobbie";
  }
  81%,
  100% {
    content: "Especialista em UX, UI";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  60%,
  65%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
    height: 20px;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
    height: 20px;
  }
}

.home-content {
  color: white;
}

.home-content h1 {
  padding-bottom: 5px;
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}
.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 46px;
  transition: 0.2s;
}

.especialidades .especialidades-box {
  transition: all 0.3s ease;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #3185a5;
  background-color: #3185a5;
  color: white;
}
.especialidades .especialidades-box:hover i {
  color: white;
  transform: scale(1.1);
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #3185a5;
}

.especialidades .especialidades-box h3 {
  font-size: 24px;
  margin: 15px 0;
}

/* estilo do sobre */
section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.img-sobre img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #3185a5;
  box-shadow: 0 0 8px #ffffff8e;
}

.img-sobre img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 25px #3185a5);
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #3185a5;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #3185a5;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.btn-social {
  display: flex;
  padding-top: 10px;
  gap: 20px;
}

.btn-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3185a5;
  color: black;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.2s;
}

.btn-social-link:hover {
  background-color: white;
}

/* estilo do portfolio*/
section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 60px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #3185a5;
  opacity: 0;
  transition: 0.5s;
}

.overlay a {
  text-decoration: none;
  color: #3185a5;
}

.overlay:hover {
  opacity: 1;
}
/* timeline */
section .timeline {
  color: white;
}

.interface h2 {
  margin-top: 60px;
}
.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
  overflow: hidden;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;

  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #3185a5;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(2, 100, 139, 0.2);
}
.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #3185a5;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(2, 100, 139, 0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #3185a5;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.timeline ul li:nth-child(odd) .time {
  width: 160px;
  position: absolute;
  top: 12px;
  right: -220px;
  margin: 0;
  padding: 8px;
  background-color: #3185a5;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #a86da500;
}
.timeline ul li:nth-child(even) .time {
  width: 160px;
  position: absolute;
  top: 12px;
  left: -220px;
  margin: 0;
  padding: 8px;
  background-color: #3185a5;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #a86da500;
}
/* estilo do formulario de contato */
section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #3f3f3f;
  border: 0;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 300px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #3185a5;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/* mensagem de envio formulario */
.success,
.error {
  text-align: center;
}

.success {
  color: #3185a5;
}

.error {
  color: tomato;
}

/* estilo do rodape */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

.logo-footer img {
  width: 150px;
  height: 70px;
}

footer .flex {
  /* so funciona com display flex a space-between */
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #3185a5;
}

footer .line-footer p i {
  color: #3185a5;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  margin-left: 10px;
  
}

footer .titulo-links {
  color: #fff;
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 24px;
  
}

footer .links-rapidos nav ul li a {
  color: #fff;
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  
}

footer .links-rapidos nav ul li {
  list-style: none;
  text-decoration: none;
}

/* Modo Claro - Footer */
body.white footer {
  background-color: #3185a5;
}

body.white footer #envelope {
  color: #333;
}

body.white footer i {
  color: #3185a5;
}

body.white footer .btn-social a {
  background-color: white;
}

body.white footer .btn-social-link:hover {
  background-color: #000000;
}

/* responsividade */

@media screen and (max-width: 450px) {
  section .timeline {
    width: 100%;
  }

  section .timeline h3 {
    font-size: 20px;
  }
  section .timeline h4 {
    font-size: 14px;
  }
  section .timeline p {
    font-size: 12px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 47%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
  }

  .timeline ul li:nth-child(odd) .time {
    /*  h4*/
    right: -155px;
  }
  .timeline ul li:nth-child(even) .time {
    /*  h3*/
    left: -180px;
  }

  .timeline ul li:nth-child(odd):before {
    /*  bola*/
    position: absolute;
    right: 20px;
  }

  .timeline ul li:nth-child(even):before {
    /*  bola*/
    position: absolute;
    left: -16px;
  }

  .timeline ul li:nth-child(odd) {
    margin-left: 15px;
    padding-left: 20px;
  }
  .timeline ul li:nth-child(even) {
    padding-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .btn-abrir-menu {
    display: block;
  }

  p {
    font-size: 14px;
  }

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* classes gerais */
  .flex {
    flex-direction: column;
  }

  h2.title {
    font-size: 24px;
    line-height: 30px;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  /* cabeçalho */
  .menu-desktop,
  btn-contato {
    display: none;
  }

  /* topo do site (dica oq vc nao modifica voce apaga)*/
  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 32px;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
  }

  /* ESTILO DAS ESPECIALIDADES */
  section.especialidades {
    padding: 40px 8%;
  }

  /* estilo sobre */
  section.sobre .flex {
    flex-direction: column-reverse;
  }

  section.sobre {
    padding: 80px 8%;
  }

  .sobre .txt-sobre h2 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .btn-social .btn-social-link i {
    text-align: center;
  }

  .img-sobre img {
    width: 100%;
  }

  /* PORTFOLIO */
  section.portfolio {
    padding: 80px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portfolio .flex {
    gap: 60px;
  }
  /* rodapé  */
  footer .flex {
    flex-direction: column;
  }

  footer .line-footer {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  section .timeline {
    width: 100%;
  }

  section .timeline h3 {
    font-size: 20px;
  }
  section .timeline h4 {
    font-size: 14px;
  }
  section .timeline p {
    font-size: 12px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 49%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
  }

  .timeline ul li:nth-child(odd) .time {
    /*  h4*/
    right: -160px;
  }
  .timeline ul li:nth-child(even) .time {
    /*  h3*/
    left: -190px;
  }

  .timeline ul li:nth-child(odd):before {
    /*  bola*/
    position: absolute;
    right: 13px;
  }

  .timeline ul li:nth-child(even):before {
    /*  bola*/
    position: absolute;
    left: -9px;
  }

  .timeline ul li:nth-child(odd) {
    margin-left: 15px;
    padding-left: 20px;
  }
  .timeline ul li:nth-child(even) {
    padding-left: 10px;
  }
}